{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Auctions{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
</head>
<style>
    #mobile-menu { display: none; }
    /* Add styles for the hamburger icon */
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger div {
        width: 30px;
        height: 4px;
        margin: 6px 0;
        background-color: white;
        transition: all 0.3s;
    }

    @media (min-width: 640px) {
        #mobile-menu {
            display: none;
        }

        .hamburger {
            display: none;
        }
    }
</style>
<body>
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <img class="h-8 w-auto"
                            src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=500"
                            alt="Your Company">
                    </div>
                    <div class="hidden sm:ml-6 sm:block">
                        <div class="flex space-x-4">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'index' %}"
                                   class="rounded-md px-3 py-2 text-sm font-medium {% if request.path == 'index' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">Active Listing</a>
                                <a href="{% url 'cat_list' %}"
                                   class="rounded-md px-3 py-2 text-sm font-medium {% if request.path == 'cat_list' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">Categories</a>
                                <a href="{% url 'watchlistpage' user.username %}"
                                   class="rounded-md px-3 py-2 text-sm font-medium {% if request.path == 'watchlistpage' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">Waitlist</a>
                                <a href="{% url 'create' %}"
                                   class="rounded-md px-3 py-2 text-sm font-medium {% if request.path == 'create' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">Create Listing</a>
                                <a href="{% url 'winnings' %}"
                                   class="rounded-md px-3 py-2 text-sm font-medium {% if request.path == 'winnings' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">My Winnings</a>
                            {% else %}
                                <a href="{% url 'index' %}"
                                   class="rounded-md px-3 py-2 text-sm font-medium {% if request.path == 'index' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">Active Listing</a>
                                <a href="{% url 'cat_list' %}"
                                   class="rounded-md px-3 py-2 text-sm font-medium {% if request.path == 'cat_list' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">Categories</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Hamburger Menu Icon for Mobile -->
                <div class="hamburger sm:hidden" aria-controls="mobile-menu" aria-expanded="false">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex items-center">
                        <!-- Profile dropdown -->
                        <div class="relative ml-3">
                            <div>
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'logout' %}"
                                       class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Logout</a>
                                {% else %}
                                    <a href="{% url 'login' %}"
                                       class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Login</a>
                                    <a href="{% url 'register' %}"
                                       class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Register</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="mobile-menu" class="sm:hidden">
        <div class="px-2 pt-2 pb-3 space-y-1">
            {% if request.user.is_authenticated %}
                <a href="{% url 'index' %}"
                   class="block rounded-md px-3 py-2 text-base font-medium {% if request.path == 'index' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">Active Listing</a>
                <a href="{% url 'cat_list' %}"
                   class="block rounded-md px-3 py-2 text-base font-medium {% if request.path == 'cat_list' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">Categories</a>
                <a href="{% url 'watchlistpage' user.username %}"
                   class="block rounded-md px-3 py-2 text-base font-medium {% if request.path == 'watchlistpage' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">Waitlist</a>
                <a href="{% url 'create' %}"
                   class="block rounded-md px-3 py-2 text-base font-medium {% if request.path == 'create' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">Create Listing</a>
                <a href="{% url 'winnings' %}"
                   class="block rounded-md px-3 py-2 text-base font-medium {% if request.path == 'winnings' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">My Winnings</a>
            {% else %}
                <a href="{% url 'index' %}"
                   class="block rounded-md px-3 py-2 text-base font-medium {% if request.path == 'index' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">Active Listing</a>
                <a href="{% url 'cat_list' %}"
                   class="block rounded-md px-3 py-2 text-base font-medium {% if request.path == 'cat_list' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">Categories</a>
            {% endif %}
        </div>
    </div>

    {% block body %}
    {% endblock %}
</body>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const menuButton = document.querySelector(".hamburger");
        const mobileMenu = document.getElementById("mobile-menu");

        menuButton.addEventListener("click", function () {
            // Toggle mobile menu visibility
            if (mobileMenu.style.display === "block") {
                mobileMenu.style.display = "none";
            } else {
                mobileMenu.style.display = "block";
            }
        });
    });
</script>
</html>
